<footer>
    <div>
        ©<%=proyecto%> {{fecha | date:'yyyy'}} - Todos los derechos reservados
    </div>

    <% if (medio_de_pago) {%>
    <div>
        <% if (transferencia) {%>
        <div>
            Transferencia
        </div>
        <%}%>
        <% if (tarjeta_de_debito) {%>
        <div>
            Debito
        </div>
        <%}%>
        <% if (tarjeta_de_credito) {%>
        <div>
            Crédito
        </div>
        <%}%>
        <% if (paypal) {%>
        <div>
            Paypal
        </div>
        <%}%>
    </div>
    <%}%>
</footer>